:root {
  --primary-color: #fed001;
}

* {
  font: 400 62.5% "Inter", serif;
}

p,
a {
  font-size: 1.6rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

nav a {
  color: inherit;
}

.wrapperContainer {
  padding-top: 1px;
}

.wrapperContainerDark {
  background-color: #2a2a2a;
  color: #fafafa;
}

.wrapperContainer-light {
  background-color: #fafafa;
}

.wrapperContainer-dark2 {
  background-color: #003464;
  color: #fafafa;
}

.containerCenter {
  max-width: 127.6rem;
  margin: auto;
}
/*------------------------------*/

.content-nav__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.content-ul__main {
  display: flex;
  list-style: none;
  gap: 1rem;
  color: #fff200;
}

.content-ul__main li {
  border: 1px solid #fff200;
  padding: 1rem;
}

.content-ul__main a {
  text-decoration: none;
}

.content-nav__main li:hover {
  background-color: black;
}

.wrapperContainer-hero {
  background-image: linear-gradient(transparent, #f9f94f);
}

.hero-Second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;
}

.upper {
  text-transform: uppercase;
  font-size: 4.9rem;
}

.saibaMais {
  background-color: var(--primary-color);
  border-radius: 4px;
  font-size: 1.8rem;
  text-decoration: none; 
  padding: 1.6rem 4.6rem;
  display: inline-block;
  color: inherit;
}

.section_Btn{
    margin: 3.5rem 0;
}

.hero-tittle {
  margin-bottom: 4rem;
}

.tittle-mainCursos {
  text-align: center;
  padding: 7rem 0;
  margin: 0;
}

.hero-Cursos__MainDiv {
  display: flex;
  text-align: left;
  gap: 2rem;
}

.hero-mainCursos-cards {
  /* border: 1px solid #ccc; 
    border-radius: 1rem; 
    overflow: hidden; */
  flex: 1;
}

.hero-mainCursos-cards:hover { 
    background-color: #ccc;
}

.hero-mainCursos-cards h3 {
  font-size: 2.4rem;
}

.hero-mainCursos-cards img {
  display: block;
  width: 100%;
}

.hero-mainCursos-cards p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.cursos_card_content {
  padding: 1rem 1.25rem;
  border: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
  border-top: transparent;
}

.hero-Main-Cursos {
  text-align: center;
}

.hero-main-Apresentacacao { 
  display: flex;
  gap: 6rem;
  padding-top: 6rem;
}

.hero-main__DivApre { 
  line-height: 1.5;
}

.hero-main-Contact h2 {
  text-align: center; 
  color: #000000;
}

.hero-main-Contact address{
    text-align: right;
    color: #000000;
    font-size: 2rem;  
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hero-Footer {
  background-color: #3b3838;
  padding: 16px;
  text-align: center;
  color: white;
}
