:root {
    --primary-color: #c40a0a;
  }

html{
    background-image: linear-gradient(transparent, #a81010);
    font-family: 'Roboto';
    color: white;
    font-weight: bold; 
}

body{   
    display: flex; 
    justify-content: center;     
    align-items: center;
    flex-wrap: wrap; /*otimizar para telas menores*/
    min-height: 100vh; 
    padding: 20px; /* Adiciona um espaçamento nas laterais */ 
}  

/* para a imagem se alinhar conforme a tela reduz*/
img {
    max-width: 100%;
    height: auto;
}

.img-Main{
    width: 50%;
    max-width: 500px; 
}

.img-newUser{
    width: 40%;
    max-width: 300px;  
}
/*--------------------------*/

.main-Container{
    width: 90%; /* Para evitar que fique muito colado */
    max-width: 30em;
    background-color: rgba(33, 7, 7, 0.832); 
    padding: 1.5em; 
    box-shadow: -10px 0px 0px rgba(123, 43, 43, 0.662);
    border-radius: 10px;
    margin: 1em; /* Adiciona margem ao redor do container */
} 

.hero-Content{
    border: none; 
    margin: 10px auto;
    width: 90%; 
}

.label-Content{
    text-transform: uppercase;
    margin-top: 16px;
    letter-spacing: 2px;
    text-align: left;
}

.btn-Login,
.btn-newUser{
    text-transform: uppercase;
    color: white;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    padding: 10px .5em;
    border-radius: 5px;   
    text-decoration: none;
    letter-spacing: .2px;
    font-size: 1em;
}

.btn-Login:hover,
.btn-newUser:hover,
.btn-newPassword:hover {
    color: black;
}

.btn-newPassword,
.btn-Login,
.btn-newUser{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
} 

.btn-newPassword,
.userAtivo{
    color: white; 
} 

.userAtivo{
    margin-bottom: 0; 
}

.inputRadio{
    accent-color: red; 
}

.label-Content,
.input-Content{
    width: 100%;
    display: flex;  
}

.input-Content{
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    border: 2px solid transparent;
    border-bottom-color: white;
    margin-top: 16px;
    padding: 12px;
    color: white;
}

.tittle-Content{
    font-size: 2em;
    color: var(--primary-color); 
    letter-spacing: 3px;
    text-transform: uppercase;
} 

.buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.input-Content:valid{
    border-bottom-color: green;
}

.input-Content:invalid:focus{
    border-bottom-color: red;
}

.input-Content:focus{
    border-bottom-color: white;
    outline: none;
}

.input-Content::placeholder{
    color: white;
}