body {
  background-color: #0c1014;
  color: white;
  width: 90%; /* largura*/
  max-width: 960px; /* maximo de largura */
  margin: 0 auto; /* para centralizar*/
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /*para ocupar 100%*/
}

.main-tittle {
  font-size: 62px;
  text-transform: uppercase;
  text-align: center;
  margin: 46px 0;
}

.header {
  display: flex;
  background-color: #05080a;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 36px;
  text-transform: uppercase;
  margin-left: 16px; /*afastar para esquerda > */
  letter-spacing: 2px;
}

.header__nav ul {
  display: flex;
  list-style-type: none;
  font-size: 18px;
  gap: 16px; /*distancia entre os elementos */
}

.header__nav a {
  text-decoration: none;
  color: white;
  padding: 14px;
  border-radius: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header__nav a:hover {
  text-decoration: underline;
}

a.header__nav--active {
  background-color: #cbe300;
  color: #0c1014;
  pointer-events: none; /*eventos do ponteiro do mouse*/
}

.pricing {
  display: flex;
  gap: 16px; /*distancia entre os elementos */
}

.pricing-plan {
  flex: 1; /* para ocupar 100%*/
  background-color: #1f262c;
  padding: 30px; /*afastar*/
  border-radius: 6px;
  box-shadow: 0 5px 15px -6px #cbe300;
  display: flex;
  flex-direction: column;
}

.pricing-plan__tittle {
  text-transform: uppercase;
  border-bottom: 2px solid #cbe300; /*tracinho embaixo*/
  margin-top: 0;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

.pricing-plan__tittle p {
  margin-top: 0;
}

.pricing-plan__price {
  font-size: 34px;
}

.pricing-plan__features {
  color: #b5b3b3;
  margin: 0 0 35px; /*0 pra cima, 0 pra direita, 35 pra baixo, pra esquerda vira 0 pra duplica*/
  padding-left: 16px;
  line-height: 1.8; /*afastar uma • da outra */
  flex: 1;
}

.pricing-plan__features li::marker {
  color: #cbe300;
}

.pricing-plan__cta {
  text-decoration: none;
  color: #0c1014;
  background-color: #cbe300;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 10px; /*16px pra cima e pra baixo, 10px pra esquerda e pra direita*/
  text-align: center;
}

.pricing-plan__cta:hover{
    outline: 2px solid #cbe300;
    background-color: transparent;
    transform: scale(1.1);
    color: white;
}

.copyright{
    background-color: #cbe300;
    color: black;
    padding: 16px;
    text-align: center; 
}