body{
    font-family: sans-serif;
    background-image: linear-gradient(transparent 50%, red, blue), url(imagens/tile.png);
    background-attachment: fixed, scroll;
    background-blend-mode: difference;
}

h1{
    text-align: center;
}

.cores{
    width: 80%;
    border: 8px solid black;
    margin: 20px auto;
    padding: 26px;
}

.cores p{
    margin: 0;
}

section{
    counter-reset: contador;
}

.cores{
    counter-increment: contador;
}

.cores::before{
    content: "[ " counter(contador) " ]";
    color: red;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 16px;
}